[user]
	email = julianarchilacaro@gmail.com
	name = Julian Archila
[core]
	editor = nvim
	autocrlf = input
[safe]
	directory = /opt/flutter
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[pull]
	rebase = true
